.header-navbar{
    display: flex;
    justify-content: center;
    margin-top: -60px;
    background-color: rgba($color: #6D0CE8, $alpha: 0.5);
    ul{
        list-style: none;
        text-align: center;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        li{
            margin-top: 60px;
            padding: 5px;
            a{
                font-size: 1.5rem;
                color: $text-secondary-color;
                &:hover{
                    color: $text-secondary-color;
                }
            }
            &:hover{
                background: $hover-primary-color;
            }
        }
    }
    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .5s ease-out;
    } 
    .menu.active {
        clear: both;
        max-height: 100vh;
        transition: max-height .7s ease-out;
    }
}