.projects-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7vh;
    padding-left: 15px;
    padding-right: 15px;
}

@import './content/content-project';