/* Contact */
.contact{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 20vh;   
}

@import './content/content-farewell';
@import './content/content-contacts';
@import './media_querys';