/* Media Querys Cover Page */
@media (min-width: 720px) {
    .coverPage {
        .coverPage-info{
            h1 {
                font-size: 3.5rem;
            }
            h3, span {
                font-size: 2rem;
            }
        }
    }
}

/* Media Querys Cover Page */
@media (min-width: 1024px) {
    .coverPage{
        .coverPage-background {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}